/*
 *
 */
.table-cell-character-class
{
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.weapon-table>tbody>tr>td.table-cell-weapon-icon
{
  vertical-align:middle;
}

.weapon-table>tbody>tr>td.table-cell-weapon-icon, .table-cell-weapon-icon
{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding:3px;
  min-width: 30px;
}

/*
 * Devicehacks
 */
 @media (max-width:767px) {
  .not-on-small-devices
  {
    display: none;
  }
  .remove-padding-on-small-devices
  {
    padding:0;
  }
}
@media (min-width: 768px) {
  .only-on-small-devices
  {
    display: none; 
  }
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  padding-top:50px;
}

/*
 * Bootstrap changes
 */
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #444;
}
.nav>li>a:focus, .nav>li>a:hover{
  background-color:#777;
}
.nav>li>a{
  color:#eee;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
/*.sidebar {
  display: none;
}*/
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #333;
    border-right: 1px solid rgb(34, 34, 34);
  }
}

.sidebar{
  background-color: rgb(34, 34, 34);
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #555;
}


/*
 * Main content
 */

.main {
  padding: 20px;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * Footer
 */

.mastfoot {
  width:100%;
  text-align: center;
}

.mastfoot-inner{
  padding-bottom:0px;
  color: #eee; /* IE8 proofing */
  color: rgba(0,0,0,.5);
}
